<h1> The ultimate Hacker Assessor </h1>
<p>Let's try to make a hacker (initially thought for software developers) career plan much more transparent and easy to grow.</p>


<h4> GET STARTED!</h4>
<%= link_to 'SIGN UP NOW!' %>
or
<%= link_to 'FORK ME ON GITHUB!' %>
