/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "neat";

$background-ligth: #D8D8D8;
$background-dark: #616161;
$button-background: #4A4A4A;
$button-color: #BEBEBE;
$button-padding: 8px;
$button-height: 16px;
$button-outter-shadow: #4B4B4B;
$text-input-background: #6B6B6B;
$text-input-placeholder-color: #8F8F8F;
$text-input-inner-shadow: #646464;
$link-color: #949292;
$text-color: $link-color;

body {
  font-family: 'Share Tech Mono', sans-serif;
  height: 100vh;

  > section {
    @include outer-container(100%);
    height: 100%;
  }
}

@mixin button() {
  width: 100%;
  height: 40px;
  margin: 6.5px 0;
  display: block;
  font-size: 21px;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a {
  color: $link-color;

  &:visited {
    color: $link-color;
  }
}

.logo {
  $hacker: 3em;
  $assessor: $hacker - $hacker/4;
  $hacker-assessor: ($hacker - $assessor) * 3;
  > a {
    text-decoration: none;
    line-height: $hacker-assessor;

    * {
      display: block;
    }

    :first-child {
      font-size: $hacker;
    }

    :last-child {
      font-size: $assessor;
    }
  }
}

nav {
  @include fill-parent;
  @include pad();

  background: $background-dark;
  height: inherit;

  @include media(1024px) {
    @include span-columns(3, 'block-collapse');
  }

  @include media(1900px) {
    @include span-columns(2, 'block-collapse');
  }

  menu {
    margin: 20px 0 0 0;
    padding: 0;

    a {
      @include button();
    }

    a > .avatar {
      height: $button-height + 2*$button-padding;
    }
  }
}


@mixin main-flex {
  @include fill-parent;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(streach);
}

main {
  @include main-flex();
  background: $background-ligth;
  height: inherit;

  > section, > footer {
    @include pad();
  }

  > section {
    @include flex(1);
    overflow-y: scroll;
  }

  @include media(1024px) {
    @include span-columns(9, 'block-collapse');
    @include main-flex();

    > footer {
      @include span-columns(12, 'block-collapse');
    }
  }

  @include media(1900px) {
    @include span-columns(10, 'block-collapse');
    @include main-flex();

    > footer {
      @include span-columns(12, 'block-collapse');
    }
  }
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 8px 0;
  color: $text-color;
  display: block;

  &[type='text'], &[type='password'] {
    @include placeholder {
      color: $text-input-placeholder-color;
    }

    background: $text-input-background;
    box-shadow: inset 0px 1px 0px 0px $text-input-inner-shadow;
    border-radius: 2px;
    border-width: 0;
    font-size: 18px;
    line-height: 24px;
  }

  &[type='submit'] {
    background: $button-background;
    box-shadow: 0px 2px 0px 0px $button-outter-shadow;
    border-radius: 5px;
    border-width: 0;
    font-size: 21px;
    color: $button-color;
    line-height: 24px;
  }
}

.almost-accomplished {
  background-color: #B58900;
}

.not-accomplished {
  background-color: #DC322F;
}

table {
  margin: 2em 0;
}

th, td {
  border: 1px solid black;
  padding: 7px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
